@page "/lanches"

<h3>Lanches</h3>

@if(lanches is null)
{
   <span>Carregando lanches...</span>
}
else
{
   <table class="table">
      <thead>
         <tr>
            <th>Nome</th>
            <th>Descrição</th>
         </tr>
      </thead>
      <tbody>
         @foreach(var lanche in lanches)
         {
            <tr>
               <td>@lanche.Nome</td>
               <td>@lanche.descricao</td>
            </tr>
         }
      </tbody>

   </table>
}
@code {
   private IEnumerable<Lanche>? lanches;

   protected override async Task OnInitializedAsync()
   {
      lanches = await lancheService.LoadLanchesAsync();
   }
}
